<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12 d-flex flex-row">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Device Details</h2>
      </div>
      <% if @device.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Device Id</th>
              <th>Device Type</th>
              <th>Device Name</th>
              <th>Advertising Id</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @device.id %></td>
              <td><%= @device.device_id %></td>
              <td><%= @device.device_type %></td>
              <td><%= @device.device_name %></td>
              <td><%= @device.advertising_id %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Version Name</th>
              <th>Version Code</th>
              <th>UTM Source</th>
              <th>UTM Medium</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @device.version_name %></td>
              <td><%= @device.version_code %></td>
              <td><%= @device.utm_source %></td>
              <td><%= @device.utm_medium %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>UTM Campaign</th>
              <th>UTM Content</th>
              <th>UTM Term</th>
              <th>Referrer URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @device.utm_campaign %></td>
              <td><%= @device.utm_content %></td>
              <td><%= @device.utm_term %></td>
              <td><%= @device.referrer_url %></td>
            </tr>
          </tbody>
        </table>
        <h3>App Opens</h3>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>App URL</th>
              <th>Source IP</th>
              <th>Force Update</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <% @appOpens.each do |appOpen| %>
              <tr>
                <td><%= appOpen.id %></td>
                <td><%= appOpen.app_url %></td>
                <td><%= appOpen.source_ip %></td>
                <td><%= appOpen.force_update %></td>
                <td><%= appOpen.created_at.strftime("%d/%m/%y %I:%M %p") %></td>
                <td><%= appOpen.updated_at.strftime("%d/%m/%y %I:%M %p") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h1 class="not-found">Device Not Found</h1>
      <% end %>
    </div>
  </div>
</div>
