<div id="page-wrapper">
  <div class="container-fluid">
    <p id="notice" style="color:orange;"><%= notice %></p>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Dashboard</h2>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @users %></div>
                <div>Total Users!</div>
              </div>
            </div>
          </div>
          <a href="/admin/user_details">
            <div class="panel-footer">
              <span class="pull-left">Total Users</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-gamepad fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @matches %></div>
                <div>Total Matches!</div>
              </div>
            </div>
          </div>
          <a href="/admin/matches">
            <div class="panel-footer">
              <span class="pull-left">Total Matches</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-gamepad fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @leagues %></div>
                <div>Total Leagues!</div>
              </div>
            </div>
          </div>
          <a href="/admin/leagues">
            <div class="panel-footer">
              <span class="pull-left">Total Leagus</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-gamepad fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @news %></div>
                <div>Total News!</div>
              </div>
            </div>
          </div>
          <a href="/admin/news">
            <div class="panel-footer">
              <span class="pull-left">Total News</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
